<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Use correct character set. -->
  <meta charset="utf-8">
  {% load staticfiles %}
  <!-- Tell IE to use the latest, best version. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{% static 'cesium/Build/Cesium/Widgets/widgets.css' %}" type="text/css">
  <title>Hello World!</title>
  <script src="{% static 'cesium/Build/Cesium/Cesium.js'%}"></script>
  <style>

      html, body, #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      }
  </style>
</head>
<body>
  <div id="cesiumContainer"></div>
  <script>
  var data = JSON.parse('{{data1|safe}}');
  var viewer = new Cesium.Viewer('cesiumContainer',options={"timeline":false,"animation":false,"vrButton":true});

  for(x=0;x<Object.keys(data).length;x++)
  {
    for (i = 0; i < data[x]["Wells"].length; i++)
    {
      var des="Yields:<br><ul>";
      for(j=0;j<data[x]["Wells"][i].Yields.length;j++)
      {
        des+="<li>"+data[x]["Wells"][i].Yields[j].Yield+", "+data[x]["Wells"][i].Yields[j].measured_date+"</li>";
      }

    des+="</ul>";
    viewer.entities.add({
    name : "Well no."+data[x]["Wells"][i]["WID"],
    position: Cesium.Cartesian3.fromDegrees(data[x]["Wells"][i].point.coordinates[0],data[x]["Wells"][i].point.coordinates[1], Number(data[x]["Wells"][i].AvgYield)/2),
    cylinder : {
        length :Number(data[x]["Wells"][i].AvgYield),
        topRadius : 100.0,
        bottomRadius : 100.0,
        material : Cesium.Color.BLUE.withAlpha(0.5),
      },
    description:des
});
}
}
viewer.zoomTo(viewer.entities);
    </script>`
  </script>
</body>
</html>
