<html>
    <title>Farms</title>
    <style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
    </style>
	<body>
		<form action="" method="post">
            {% csrf_token %}
            <label>Enter id</label><input type="text" name="HID"><br>
            <input type="submit" value="Submit">
        </form>
        {% if r %}
         <pre id="a1">
            
     </pre>
        {% endif %}
   
<script>
    function syntaxHighlight(json) {
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}
	data = null;
	{% if r %}
	data=JSON.parse('{{ data|safe }}');
     console.log(data);
	 {% endif %}
	if(data){
		document.getElementById("a1").innerHTML=syntaxHighlight(JSON.stringify(data, null, 4)); 
	}
</script>
	</body>
</html>
