<!doctype html>
<html>
  <head>
    <style>
      #map {
        width: 800px;
        height: 800px;
      }
    </style>
  </head>
  <body>
<form action="" method="post">
            {% csrf_token %}
            <label>Enter id</label><input type="text" name="ID"><br>
            <input type="submit" value="Submit">
        </form>
    <div id="map"></div>
{% load staticfiles %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static "gmaps.js" %}"></script>
    <script>
function getRandomColour(){
	var letters="0123456789ABCDEF";
	var colour="#";
	for(i=0;i<6;i++)
	{
		colour+=letters[Math.floor(Math.random()*16)];
	}
	return colour;
}
data=[]
{% if r %}
data=JSON.parse('{{ data|safe }}');//[[48.8577262,2.2928475],[48.8576973,2.292387],[48.8575015,2.2912906]]
{% endif %}
      var mapObj = new GMaps({
        el: '#map',
        lat: data["Houses"][0].point.coordinates[1],
        lng: data["Houses"][0].point.coordinates[0]
      });

for (i = 0; i < data["Houses"].length; i++) {
    mapObj.addMarker({
  lat: data["Houses"][i].point.coordinates[1],
  lng: data["Houses"][i].point.coordinates[0],
infoWindow: {
    content: (data["Houses"][i].income).toString(),
    maxWidth: 100
  }
});}
//var paths=[[[48.8586341,2.2960675],[48.8586341,2.2960675],[48.8571539,2.2907279],[48.8568504,2.2909585]]]
for(i=0;i<data["Farms"].length;i++){
var temp=[]  
  for(j=0;j<data["Farms"][i].plot.coordinates[0].length;j++)
  {
	temp.push(data["Farms"][i].plot.coordinates[0][j].reverse());
  }
  mapObj.drawPolygon({
  paths: temp,
  strokeColor: '#000000',
  strokeOpacity: 0.3,
  strokeWeight: 2,
  fillColor: getRandomColour(),
  fillOpacity: 0.4,
  infoWindow: {
    
  }
});
} 
    </script>
  </body>
</html>
